<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
    <title>Adas Web App</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/home">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            <!--<img src="plugins/images/conti.png" alt="home" class="dark-logo" /><!--This is light logo icon-->
                            <!--<img src="plugins/continental.png" alt="home" class="light-logo" /> -->
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="plugins/images/continental.png" alt="home" class="dark-logo" />
                            <!--This is light logo text-->
                            <img src="plugins/images/continental.png" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">

                    <li>
                        <a class="profile-pic" href="/logout">
                            <b class="hidden-xs">Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3>
                        <span class="fa-fw open-close">
                            <i class="ti-close ti-menu"></i>
                        </span>
                        <span class="hide-menu">Navigation</span>
                    </h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="/home" class="waves-effect">
                            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="/profile" class="waves-effect">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
                    </li>
                    <li>
                        <a href="/diagnostic" class="waves-effect">
                            <i class="fa fa-table fa-fw" aria-hidden="true"></i>Diagnostic</a>
                    </li>

                    <li>
                        <a href="/carPosition" class="waves-effect">
                            <i class="fa fa-globe fa-fw" aria-hidden="true"></i>Car Position</a>
                    </li>



                </ul>
                <div class="center p-20">

                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Powertrain Information</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">


                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Fuel System Status</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div>
                                        <img src="plugins/images/gasoline-pump.png" </div>
                                </li>
                                <li class="text-right">
                                    <i class="ti-arrow-up text-success"></i>
                                    <span class="counter text-info" id="fuel-system-status"></span>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <div class="white-box analytics-info">
                                <h3 class="box-title">Engine Coolant temperature</h3>
                                <ul class="list-inline two-part">
                                    <li>
                                        <div>
                                            <img src="plugins/images/thermometer.png" </div>
                                    </li>
                                    <li class="text-right">
                                        <i class="ti-arrow-up text-purple"></i>
                                        <span class="counter text-info" id="engine-coolant-temperature"></span>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="white-box analytics-info">
                                    <h3 class="box-title">Calculated Engine Load</h3>
                                    <ul class="list-inline two-part">
                                        <li>
                                            <div>
                                                <img src="plugins/images/percentage.png" </div>
                                        </li>
                                        <li class="text-right">
                                            <i class="ti-arrow-up text-info"></i>
                                            <span class="counter text-info" id="calculated-engine-load"></span>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <div class="white-box analytics-info">
                                        <h3 class="box-title">RPM</h3>
                                        <ul class="list-inline two-part">
                                            <li>
                                                <div>
                                                    <img src="plugins/images/speedometer.png">
                                                </div>
                                            </li>
                                            <li class="text-right">
                                                <i class="ti-arrow-up text-info"></i>
                                                <span class="counter text-info" id="rpm"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                    <div class="white-box analytics-info">
                                        <h3 class="box-title">Fuel Pressure</h3>
                                        <ul class="list-inline two-part">
                                            <li>
                                                <div>
                                                    <img src="plugins/images/pressure.png" </div>
                                            </li>
                                            <li class="text-right">
                                                <i class="ti-arrow-up text-info"></i>
                                                <span class="counter text-info" id="fuel-pressure"></span>
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="white-box analytics-info">
                                            <h3 class="box-title">Speed</h3>
                                            <ul class="list-inline two-part">
                                                <li>
                                                    <div>
                                                        <img src="plugins/images/speed.png" </div>
                                                </li>
                                                <li class="text-right">
                                                    <i class="ti-arrow-up text-info"></i>
                                                    <span class="counter text-info" id="speed"></span>
                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6 col-xs-12">
                                            <div class="white-box analytics-info">
                                                <h3 class="box-title">Intake Air Temperature</h3>
                                                <ul class="list-inline two-part">
                                                    <li>
                                                        <div>
                                                            <img src="plugins/images/air.png" </div>
                                                    </li>
                                                    <li class="text-right">
                                                        <i class="ti-arrow-up text-info"></i>
                                                        <span class="counter text-info" id="intake-air-temperature"></span>
                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                                <div class="white-box analytics-info">
                                                    <h3 class="box-title">Fuel Tank Level Input</h3>
                                                    <ul class="list-inline two-part">
                                                        <li>
                                                            <div>
                                                                <img src="plugins/images/gas-station.png" </div>
                                                        </li>
                                                        <li class="text-right">
                                                            <i class="ti-arrow-up text-info"></i>
                                                            <span class="counter text-info" id="fuel-tank-level-input"></span>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-sm-6 col-xs-12">
                                                    <div class="white-box analytics-info">
                                                        <h3 class="box-title">Time Run With MIL On</h3>
                                                        <ul class="list-inline two-part">
                                                            <li>
                                                                <div>
                                                                    <img src="plugins/images/engine.png" </div>
                                                            </li>
                                                            <li class="text-right">
                                                                <i class="ti-arrow-up text-info"></i>
                                                                <span class="counter text-info" id="time-run-with-mil-on"></span>
                                                            </li>
                                                        </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                                        <div class="white-box analytics-info">
                                                            <h3 class="box-title">Engine Oil Temperature</h3>
                                                            <ul class="list-inline two-part">
                                                                <li>
                                                                    <div>
                                                                        <img src="plugins/images/oil.png" </div>
                                                                </li>
                                                                <li class="text-right">
                                                                    <i class="ti-arrow-up text-info"></i>
                                                                    <span class="counter text-info" id="engine-oil-temperature"></span>
                                                                </li>
                                                            </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-6 col-xs-12">
                                                            <div class="white-box analytics-info">
                                                                <h3 class="box-title">Run Time Since Engine Start</h3>
                                                                <ul class="list-inline two-part">
                                                                    <li>
                                                                        <div>
                                                                            <img src="plugins/images/hourglass.png" </div>
                                                                    </li>
                                                                    <li class="text-right">
                                                                        <i class="ti-arrow-up text-info"></i>
                                                                        <span class="counter text-info" id="run-time-since-engine-start"></span>
                                                                    </li>
                                                                </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/.row -->
                                                        <!--row -->
                                                        <!-- /.row -->

                                                        <!-- ============================================================== -->
                                                        <!-- table -->
                                                        <!-- ============================================================== -->
                                                        <div class="row">
                                                            <div>
                                                                <div class="white-box">

                                                                    <h3 class="box-title">Data Trouble Codes</h3>
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>DTC</th>
                                                                                    <th>Unity</th>
                                                                                    <th>Description</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tbody">
                                                                               


                                                                                






                                                                                </tbody>
                                                                    </div>
                                                                    <!-- ============================================================== -->
                                                                    <!-- chat-listing & recent comments -->
                                                                    <!-- ============================================================== -->

                                                                </div>
                                                                <!-- /.container-fluid -->
                                                                <footer class="footer text-center"> 2018 &copy;ADAS Web Application</footer>
                                                            </div>
                                                            <!-- ============================================================== -->
                                                            <!-- End Page Content -->
                                                            <!-- ============================================================== -->
                                                        </div>
                                                        <!-- ============================================================== -->
                                                        <!-- End Wrapper -->
                                                        <!-- ============================================================== -->
                                                        <!-- ============================================================== -->
                                                        <!-- All Jquery -->
                                                        <!-- ============================================================== -->
                                                        <script src="/socket.io/socket.io.js"></script>
                                                        <script src="js/DTCs.js"></script>

                                                        <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
                                                        <!-- Bootstrap Core JavaScript -->
                                                        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
                                                        <!-- Menu Plugin JavaScript -->
                                                        <script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
                                                        <!--slimscroll JavaScript -->
                                                        <script src="js/jquery.slimscroll.js"></script>
                                                        <!--Wave Effects -->
                                                        <script src="js/waves.js"></script>
                                                        <!--Counter js -->
                                                        <script src="plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
                                                        <script src="plugins/bower_components/counterup/jquery.counterup.min.js"></script>
                                                        <!-- chartist chart -->
                                                        <script src="plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
                                                        <script src="plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
                                                        <!-- Sparkline chart JavaScript -->
                                                        <script src="plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
                                                        <!-- Custom Theme JavaScript -->
                                                        <script src="js/custom.min.js"></script>
                                                        <script src="js/dashboard1.js"></script>
                                                        <script src="plugins/bower_components/toast-master/js/jquery.toast.js"></script>

                                                        <script>
                                                            function Description(dtc)
                                                            { console.log(DTCs[dtc])

                                                              return DTCs[dtc];
                                                            }
                                                            $(function () {
                                                                console.log(DTCs["P0000"])
                                                                var user = document.cookie.substring(5)
                                                                var socket = io();
                                                                $(".box-title").click(function () {

                                                                    var payload = $(this).text().toLowerCase();
                                                                    var result = payload.replace(/ /g, '-');
                                                                    alert(result)
                                                                    socket.emit('specificRequest', { payload: result, username: user })



                                                                })
                                                                socket.on('specificResponse/' + user, function (data) {
                                                                    /*console.log("payload  ",data);*/
                                                                    var encode = new TextDecoder();
                                                                    var message = JSON.parse(encode.decode(data));
                                                                    //console.log(message)
                                                                    switch (message["pid"]) {
                                                                        case "data-trouble-codes": $("#tbody").empty(); console.log(message[message["pid"]]); 
                                                                          /*console.log('zefzef    ',DTCs[message[message["pid"]]])*/
                                                                          $('#tbody').append('<tr><td>'+message[message["pid"]]+'</td><td>'+First_DTC_Character[message[message["pid"]][0]]+'</td><td>'+DTCs[message[message["pid"]]]+'</td></tr>')
                                                                          break;

                                                                           
                                                                        default: $('#' + message["pid"]).empty(); $('#' + message["pid"]).append(message[message["pid"]]); break;

                                                                    }


                                                                });


                                                            })
                                                        </script>


</body>

</html>